.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.header {
  color: #e0e0e0;
  font-size: 2em;
  text-shadow: -2px -2px 3px rgb(255 255 255 / 80%),
    2px 2px 3px rgb(0 0 0 / 40%);
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 896px;
  margin: 0 auto;
}

@media screen and (max-width: 896px) {
  .nav {
    margin: auto;
    max-width: 592px;
  }
}

@media screen and (max-width: 592px) {
  .nav {
    margin: auto;
    max-width: 288px;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 180px;
  box-shadow: 3px 3px 5px rgb(90 90 90 / 50%),
    -3px -3px 5px rgb(255 255 255 / 50%);
  background: #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: 360ms;
}

.nav-item:hover {
  box-shadow: 1.5px 1.5px 2.5px rgb(90 90 90 / 50%),
    -1.5px -1.5px 2.5px rgb(255 255 255 / 50%);
}

.nav-item a {
  color: rgb(90 90 90 / 50%);
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 1.5px rgb(255 255 255 / 80%),
    1px 1px 1.5px rgb(90 90 90 / 50%);
  text-decoration: none;
}

.nav-item a:visited {
  color: rgb(90 90 90 / 50%);
  text-decoration: none;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  padding: 16px 0 16px 0;
  margin-top: 64px;
}

.footer a {
  color: rgb(90 90 90 / 80%);
  font-size: 14px;
  text-shadow: -1px -1px 1px rgb(255 255 255 / 80%),
    1px 1px 1px rgb(0 0 0 / 40%);
  text-decoration: none;
  cursor: pointer;
}

.footer a:visited {
  color: rgb(90 90 90 / 80%);
  text-decoration: none;
}
