.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-header {
  color: #e0e0e0;
  font-size: 32px;
  text-shadow: -2px -2px 3px rgb(255 255 255 / 80%), 2px 2px 3px rgb(0 0 0 / 40%);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  width: 896px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90 90 90 / 50%);
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 1.5px rgb(255 255 255 / 80%), 1px 1px 1.5px rgb(90 90 90 / 50%);
  width: 288px;
  height: 180px;
  box-shadow: 3px 3px 5px rgb(90 90 90 / 50%), -3px -3px 5px rgb(255 255 255 / 50%);
  background: #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: 360ms;
}

.nav-item:hover{
  box-shadow: 1.5px 1.5px 2.5px rgb(90 90 90 / 50%), -1.5px -1.5px 2.5px rgb(255 255 255 / 50%);
}