.layout {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 0 16px;
  min-height: 100vh;
  box-sizing: border-box;
}

.layout-title {
  color: rgb(90 90 90 / 50%);
  font-size: 32px;
  font-weight: bold;
  text-shadow: -1px -1px 1.5px rgb(255 255 255 / 80%),
    1px 1px 1.5px rgb(90 90 90 / 50%);
  margin: 0 0 24px 0;
  text-align: center;
}

.layout-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  margin-left: 16px;
}

.layout-filter-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  box-shadow: 1.5px 1.5px 2.5px rgb(90 90 90 / 50%),
    -1.5px -1.5px 2.5px rgb(255 255 255 / 50%);
  background: #e0e0e0;
  padding: 8px;
  border-radius: 10px;

  > input {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
  }

  > label {
    display: block;
    cursor: pointer;
    color: rgb(90 90 90 / 90%);
    text-shadow: -0.5px -0.5px 1px rgb(255 255 255 / 80%),
      0.5px 0.5px 1px rgb(90 90 90 / 90%);
  }
}

.layout__flex {
  display: flex;
  overflow: scroll;

  .layout-children,
  .layout-code {
    width: 100%;
    max-height: 75vh;
    overflow: scroll !important;
  }

  .layout-code {
    margin-top: 0;
    margin-left: 16px;
  }
}

.layout-children,
.layout-code {
  max-height: 55vh;
  overflow: scroll !important;
}

.layout-children {
  padding: 32px 32px 48px 32px;
  background: rgb(243, 243, 243);
  border-radius: 10px;
  margin: 0 !important;

  &.debug {
    border: 1px solid red;
  }
}

.layout-code {
  position: relative;
  background: #1e1e1e;
  margin-top: 16px;
  border-radius: 10px;
  padding: 16px;

  textarea {
    border: none !important;
    outline: none !important;
    caret-color: white !important;

    &:focus {
      border: 1px solid rgb(90, 90, 90) !important;
    }
  }
}

.menu {
  @keyframes checked-anim {
    50% {
      width: 3000px;
      height: 3000px;
    }
    100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  @keyframes not-checked-anim {
    0% {
      width: 3000px;
      height: 3000px;
    }
  }

  .menu-item {
    width: 100%;
    padding: 25px 0 0 0;
    width: 230px;
    text-indent: 56px;
    display: none;

    transition: 300ms;
    color: rgb(90 90 90 / 50%);
    text-shadow: -1px -1px 1.5px rgb(255 255 255 / 80%),
      1px 1px 1.5px rgb(90 90 90 / 50%);
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    cursor: pointer;

    &:first-child {
      padding: 65px 0 0 0;
    }

    &:hover,
    &._selected {
      color: rgb(90 90 90 / 90%);
      text-shadow: -1px -1px 1.5px rgb(255 255 255 / 80%),
        1px 1px 1.5px rgb(90 90 90 / 45%);
    }

    &._selected {
      pointer-events: none;
    }
  }

  #trigger,
  #burger,
  #burger:before,
  #burger:after {
    position: absolute;
    top: 16px;
    left: 24px;
    background: rgb(180, 180, 180);
    width: 20px;
    height: 3px;
    transition: 0.2s ease;
    cursor: pointer;
    z-index: 1;
  }

  #trigger {
    z-index: 2000;
    position: fixed;
    height: 25px;
    background: none;
  }

  #burger,
  #burger:before,
  #burger:after {
    box-shadow: 1px 1px 3px rgb(180 180 180), -1px -1px 3px rgb(255, 255, 255);
  }

  #burger:before {
    content: " ";
    top: 7px;
    left: 0;
  }

  #burger:after {
    content: " ";
    top: 14px;
    left: 0;
  }

  #menu-toggle:checked + #trigger + #burger {
    top: 19px;
    left: 20px;
    transform: rotate(-135deg) translateX(-5px);
    transition: transform 0.2s ease;
    z-index: 2000;
  }

  #menu-toggle:checked + #trigger + #burger:before {
    display: none;
  }

  #menu-toggle:checked + #trigger + #burger:after {
    top: 5px;
    left: 0;
    transform: rotate(90deg) translateX(-5px);
    transition: transform 0.2s ease;
    z-index: 1;
  }

  #menu {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100%;
    animation: not-checked-anim 0.2s both;
    transition: 0.2s;
    overflow-y: scroll;
    padding-bottom: 50px;
    z-index: 1000;
  }

  #menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
  }

  #menu-toggle:checked + #trigger ~ #menu .menu-item {
    display: block;
  }

  #menu-toggle:checked ~ #menu {
    background-color: rgba(255, 255, 255, 0.9);
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    display: none;
  }
}

.footer {
  margin-top: auto !important;
}
